.container{
	font-size: 20px;
	font-weight: 800;
	background-color: rgb(235, 244, 232);
}
.input{
	display: flex;
	justify-content:end;
	padding: 10px;
}
.input input{
	border-radius: 5px;
	width: 200px;
}

.active{
	color: black;
}

.message__wrapper{
	display: grid;
	grid-template-columns: 5fr 7fr;
}

.users{

	list-style: none;
	border: 1px solid black;
}
.users a{
	text-decoration: none;
}

.messages{
	list-style: none;
	border: 1px solid black;
	
}
.addMessage{

}
.writeMessage{
	display: block;
	width: 500px;
	resize: vertical;
}
.submitMessage{
	
}