.main{
	grid-area: m;
	background-color: rgb(255, 0, 123);
	}
	.main img{
	  width: 100%;
	  height: 200px;
	  border: 1px solid black;
	  
	}
	
	
	.ava__block{
	 display: flex;
	  
	}
	.ava__block img{
	  width: 200px;
	  margin-right: 50px;
	}